.ckanext-jstree-search {
    margin-bottom: 12px;
    display: flex;
    gap: 12px;

    $height: 35px;

    .jstree-search--input {
        display: flex;
        position: relative;
        flex-basis: 350px;
        height: $height;

        .search-icon {
            height: $height;
            display: flex;
            position: absolute;
            right: 0;
        }

    }
}

.jstree-default {
    .jstree-search {
        background: bisque;
    }
    .jstree-anchor {
        &[aria-expanded="true"] {
            .jstree-icon:before {
                content: "\f07c";
            }
        }
    }
}

.jstree-table-header:last-of-type {
    .jstree-table-separator {
        display: none;
    }
}

.jstree-table-wrapper {
    .jstree-table-headerwrapper,
    .jstree-table-midwrapper {
        width: -webkit-fill-available;
        display: table;
    }
}
